
<div class="page-wrapper">
    <div class="page">
        <div class="intro">
            <div class="font-bigger text-uppercase">
                Добро пожаловать!
            </div>
            <p>Мы очень благодарны вам за то, что вы решили принять участие в занятиях по изучению библейских финансовых
                принципов. Принципы, которые вы будете рассматривать на
                этих занятиях, Господь использовал в жизнях сотен тысяч людей, прошедших обучение в малых группах. Мы
                увидели, что наибольшую пользу эти уроки приносят тем людям, которые проявляют достаточно верности,
                чтобы
                пройти их все до конца.
            </p>
            <p>Прежде всего, до того как вы соберетесь в группе, прочтите книгу <i>«Деньги любят счет»</i>. Она легка
                для
                чтения и даст вам общее представление о предмете обучения.</p>
            <p>Затем перед каждым занятием выполняйте следующие требования</p>
            <p class="text-uppercase">1. МЕСТА ПИСАНИЯ ДЛЯ ЗАУЧИВАНИЯ</p>
            <p>Учите задаваемый стих из Библии каждую неделю и рассказывайте его перед началом
                занятия. Это поможет вам запомнить самые важные принципы.</p>
            <p class="text-uppercase">2. ДОМАШНЕЕ ЗАДАНИЕ</p>
            <p>Выполните письменное домашнее задание. Вопросы в домашних заданиях специально
                разработаны таким образом, чтобы работа над ответами занимала всего около 15 минут
                в день. Под каждым вопросом есть место, чтобы туда вписать свой ответ. Если в обучении
                принимает участие супружеская пара, мы рекомендуем каждому из супругов иметь свою
                рабочую тетрадь.</p>
            <p class="text-uppercase">3. ПРАКТИЧЕСКОЕ ЗАДАНИЕ</p>
            <p>Выполните практическое финансовое упражнение (например, разработайте бюджет
                или составьте схему выплаты долгов).</p>
            <p class="text-uppercase">4. МОЛИТВА</p>
            <p>Каждый день участники обучения должны молиться друг за друга, используя Молитвенный журнал. Вы можете это
                делать до или после выполнения домашнего задания. Ответы на молитвы – это один из наиболее ободряющих
                моментов в жизни малой группы.</p>
            <p>Мы рекомендуем планировать время, которое вы будете уделять для молитвы, заучивания библейских стихов, а
                также для выполнения домашних и практических заданий.</p>
            <p>Если кто-то не смог выполнить задание к какому-либо занятию, мы попросили лидеров
                удерживать этого студента от участия в дискуссии на уроке. Такая подотчетность помогает
                нам сохранять верность. А чем вернее мы будем, тем больше пользы сможем извлечь из
                занятий.</p>
            <p>Посещение. Каждый участник должен стараться не пропускать занятий. Если вы будете
                отсутствовать на уроке или опоздаете, предупредите об этом одного из лидеров заранее.
                Встречи планируются так, чтобы начинаться и заканчиваться вовремя.</p>
            <p>Сертификат. Сертификат об окончании курса смогут получить все, кто посетил не менее
                7 из 9 занятий и выполнил все домашние и практические задания.</p>
            <p>Еще раз благодарим вас за участие в обучении. Молимся, чтобы Господь благословил
                вас на всех путях во время изучения Его финансовых принципов.</p>
            <p>Каждую встречу рекомендуем начинать и заканчивать стоя на коленях. Тем самым мы
                видимым образом показываем акт смирения и нужды в Боге</p>
            <p style="text-align: right">
                Говард Дейтон, автор курса,<br/>
                основатель <i>Compass-finances God’s way</i>,<br/>
                cооснователь <i>Crown Financial Ministries</i><br/>
            </p>
        </div>
    </div>
</div>

<div class="page-wrapper">
    <div class="page">
        <div class="simple-banner first-in-page">
            Процесс обучения
        </div>
        <p>Цель этих занятий – заложить прочный библейский фундамент в финансовых вопросах, а также научить
            практическим навыкам управления финансами.</p>
        <p>Курс «Библейские принципы управления финансами» предназначен для всех желающих: молодых и пожилых, одиноких и
            женатых, с высокими и с низкими доходами, со средним и с высшим образованием. Самое главное, чтобы человек
            имел
            желание и верно выполнял требования программы.</p>
        <p>Предложенный материал можно изучать самостоятельно, в паре или в группе. Наибольший эффект достигается при
            групповом обучении.</p>
        <p>Полный курс «Библейские принципы управления финансами» рассчитан на девять недель и включает девять занятий
            (встреч). Занятия проходят еженедельно продолжительностью 2–2,5 часа. Между встречами в
            течение недели учащиеся выполняют домашние и практические задания, изучают библейские стихи и молятся друг
            за
            друга. Во время самой встречи учащиеся цитируют изученные места Писания, делятся своими
            ответами на вопросы и выполненными практическими заданиями, а также записывают молитвенные нужды
            друг друга.</p>
        <p>Почему целых девять недель? Дело в том, что этот курс имеет очень важную цель – сформировать навыки
            и выработать новые привычки, а это потребует времени. Если члены группы плохо знают друг друга, это
            время позволит им построить близкие и дружеские взаимоотношения, а тем, кто уже знаком, – еще больше
            укрепить свою дружбу. Мы не раз слышали, как люди не хотели расходиться после завершения программы
            и желали продолжать встречи.</p>
        <p>Для создания доверительной атмосферы во время дискуссии допускается высказывать мнение, противоположное тому,
            чему учит курс или другие источники, при условии выполнения обеих частей домашнего задания. Если обсуждение
            по
            какому-либо вопросу затягивается, то лидер имеет право прервать очередного
            учащегося и перейти к следующему вопросу.</p>
        <div class="simple-banner">
            Финансовая политика
        </div>
        <ul class="font-normal">
            <li>
                <b>Финансовые услуги. </b>«Компас» не подтверждает, не рекламирует и не продает никакого рода финансовые
                инвестиции. Мы запрещаем кому бы то ни было использовать членство в группе для рекламы
                или влияния на продажу любой финансовой продукции или услуг.
            </li>
            <li style="margin: 10px 0">
                <b>Инвестиции.</b> Обучение в малой группе «Компас» не предоставляет рекомендаций по вкладу любого
                рода инвестиций. Мы запрещаем использовать членство в группе в целях предоставления рекомендаций по
                размещению капитала.
            </li>
            <li>
                <b>Помощь.</b> Это обучение оценено в разумных пределах, потому что мы не хотим, чтобы деньги стали
                помехой для тех, кто хочет учиться. Если вы находите данный курс ценным и хотите помочь сделать
                его более доступным для других, а также содействовать развитию новых учебных программ, вы можете сделать
                добровольное пожертвование для организации Compass-finances God’s way. Реквизиты
                для пожертвований находятся на нашем сайте <a href="http://www.finuchenie.online/">finuchenie.online</a>
            </li>
        </ul>
        <div class="simple-banner">
            Веб сайт
        </div>
        <p>
            Служение «Компас» имеет страницу в сети Интернет как ресурс для обеспечения студентов и лидеров
            дополнительной
            информацией. Она содержит полезные статьи, электронные таблицы, рекламные материалы
            и многое другое. Для получения информации посетите наш сайт и странички в социальных сетях:
            <a href="http://www.finuchenie.online/">finuchenie.online</a>,
            <a href="https://www.instagram.com/compass.finances/">instagram.com/compass.finances/</a>,
            <a href="https://t.me/compass_finaces/">t.me/compass_finances</a>,
        </p>
        <p>Приглашаем вас также посетить интернет-страницу центрального офиса «Компас» – <a
                href="https://compass1.org/">compass1.org</a>
        </p>
        <p>Наше желание – обеспечивать вас полезными и качественными ресурсами. Чтобы мы могли это сделать, нам
            необходимо
            узнать ваше мнение по поводу данного курса. После завершения курса, пожалуйста,
            оставьте свой отзыв о программе. Анкета находится на нашем сайте.
        </p>
    </div>
    <div class="page-break"></div>
</div>
