<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>гайд по подключению аппаратуры</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://unpkg.com/primeflex@latest/primeflex.css">
  <link rel="stylesheet" href="/cvw-be/assets/theme.css">

  <style>
    * {
      box-sizing: border-box;
    }

    h1, h2, h3, h4, ul {
      margin: 0;
    }

    body {
      font-family: Roboto, sans-serif;
      margin: 0;
    }

    img {
      height: auto;
    }

    .cables-wrapper img {
      width: 300px;
      margin-right: 30px;
    }
  </style>
</head>
<body>
<div class="lg:px-5 lg:py-4 p-2">
  <div>
    <h1>Как подключать аппаратуру в нашей церкви</h1>
    <p>Во-первых, спасибо большое, что решили прочитать и погрузиться в захватывающий мир проподов, пультов и т.д. Я
      кратко постараюсь описать все процессы, которые мы делаем сейчас, подключая и выключая аппаратуру в церкви
      аппаратуру.
      Это не самое красочное или благодарное дело в мире, но без этого людям на служениях по воскресеньям и в другие дни
      будет замметно сложнее. Итак, начнем</p>
  </div>
  <p>Наши провода помечены цветами: желтые, средней длины (5-7.5м); красные (7.5+ м). Цвет определяется хомутом с
    надписью, а не стяжкой.</p>
  <p>ОБРАТИ ВНИМАНИЕ НА ТИПЫ И НАЗВАНИЯ ПРОВОДОВ, ЕСЛИ НЕ ЗНАЕШЬ ЧТО ТАКОЕ XLR</p>

  <div class="surface-card shadow-2 border-round-2xl lg:px-4 lg:py-3 p-1 lg:w-6 w-12 mb-5">
    <h3>Оглавление</h3>
    <ul class="mt-2">
      <li><a href="#connect">Порядок подключения на воскресное служение</a></li>
      <li><a href="#disconnect">Порядок выключения на воскресное служение</a></li>
      <li><a href="#music">Запись служения и проигрывание музыки</a></li>
      <li><a href="#cables">Провода</a></li>
      <li><a href="#console">Наш пульт</a></li>
    </ul>
  </div>

  <div class="surface-card shadow-2 border-round-2xl lg:px-4 lg:py-3 p-1 w-12 mb-5">
    <h2 id="connect">Порядок подключения на воскресное служение</h2>
    Обычно состав на воскресное служение включает в себя 4 вокалиста, клавиши, кахон, возможно акустика.
    <h4 class="my-2">1. Принести аппаратуру</h4>
    Для такого состава обязательно принести:
    <ol>
      <li>Ящик с проводами</li>
      <li>Пульт</li>
      <li>Стойки для микрофонов (на 21-11-2023 2 штуки)</li>
      <li>Стойки для нот (2 большие, 1 маленькая)</li>
      <li>Радио микрофон (в собственном кейсе)</li>
      <li>Головной микрофон (в сиреневом пакете, чаще всего в чехле для пульта)</li>
      <li>Стойка для колонки</li>
      <li>Колонка</li>
      <li>Стойка для клавиш</li>
      <li>Клавиши</li>
    </ol>

    <h4 class="my-2">2. Ставим пульт и подключаем его</h4>
    Очень важно - <b>при подключении сначала всегда включается пульт, потом колонка</b>. Лучше также сначала включать
    удлинитель, потом пульт.
    Из ящика с проводами достаем черный удлинитель. В КЗ-1 пульт ставим под стол около окна, в фотостудии в углу у
    входа в зал.
    В пульт идет кабель питания, сбоку слева на пульте должна быть кнопка включения. Когда пульт включился полностью, у
    него горит синяя лампочка справа.

    <h4 class="my-2">3. Ставим колонку и подсоединяем ее </h4>
    Стойку и колонку ставим: в КЗ-1 за стол, в фотостудии к пульту в угол. Используем второй сетевой кабель для
    подключения колонки, он короткий, поэтому лучше взять один из маленьких белых удлинителей.
    Колонку с пультом соединяем xlr-кабелем, лучше взять толстый желтый xlr кабель. В пульт включается в master outputs
    слева сверху на пульте, не важно в правый или левый канал. На колонке включается в Input. Для уверенности можно
    сначала включить провод в пульт и тогда в колонку у вас будет только один вариант куда подключить другую сторону
    провода.
    <h4 class="my-2">4. Подключаем микрофоны </h4>
    Микрофоны подключаются в нижний ряд входов пульта с 11 по 14 входы. Цвета микрофонов соответствуют порядку на радуге
    - фиолетовый(11), синий(12), желтый(13), оранжевый(14). Примерно подумай какая длина проводов надо для каждого и
    выбери подходящие xlr кабеля. Рекомендую взять 2 поомеченные желтыми хомутами, один длинный с красным хомутом и один
    фиолетовый по цвету кабель. Важно - не брать провода, у которых на разъемах синяя резинка, это для мониторов.

    <h4 class="my-2">5. Подключаем клавиши и гитару</h4>
    Клавиши подключаются в каналы 5 и 6 на пульте jack-jack проводами, для клавиш специально есть 2 одинаковых провода.
    Акустика идет в 1 вход, подключается jack-jack кабелем. Для акустики лучше брать jack-jack кабель, помеченный
    красным хомутом.

    <h4 class="my-2">6. Подключаем мониторы</h4>
    Ушные мониторы (черные прямоугольные, в коробках) идут в 3, 4, 5 выходы на пульте (верхняя линия по центру-справа).
    3 канал идет к клавишнику, 4 к одному из вокалистов (ведущему), 5 - к кахонисту. Подключаем их "синими" проводами.
    Общий монитор из коробки картонного цвета ставится: в фотостудии возле пульта, в КЗ-1 на стол Алене. Подключается
    длинным jack-jack кабелем с красным хомутом, в пульт идет в jack вход наушников 2, сверху слева в пульте. На
    мониторе включаем провод в самый правый канал, который подписан "Input". Каждому вокалисту для ушного мониторинга
    надо дать провод из пакета "Соседи", которым они подключат свои наушники.

    <h4 class="my-2">7. Подключаем радио микрофоны</h4>
    Базу ручного радио микрофона надо собрать из коробки - прикрутить антенны на заднюю панель. В кейсе для кабеля есть
    шнур питания к базе и jack-jack для подключения. Ручной радио-микрофон подключаем в 4 вход на пульте.
    Головной микрофон подключается в 10 канал jack-jack кабелем из ящика, лучше взять jack-jack с желтым хомутом.

    <h4 class="my-2">8. Флешка</h4>
    В пульт в разъем REC обязательно вставить флешку для записи.
  </div>

  <div class="surface-card shadow-2 border-round-2xl lg:px-4 lg:py-3 p-1 w-12 mb-5">
    <h2 id="music">Запись служения и воспроизведение музыки</h2>
    <h4 class="my-2">Интерфейс браузера</h4>

    <div class="flex">
      <div class="lg:w-6 w-12 flex flex-column mr-4">
        <img src="/cvw-be/assets/rec-browser.png" class="w-full lg:w-21rem" alt="mixing station ui 2" />
        <img src="/cvw-be/assets/play-browser.png" class="w-full lg:w-21rem" alt="mixing station ui 2" />
      </div>
      <p>
        Запись начинается когда нажать на кнопку справа. Красная - запись идет.
        Что запустить проигрывание музыки надо нажать на кнопку-треугольник сверху. Откроется экран, где будет показаны
        файлы на флешке. Надо зайти в папки с музыкой и дважды нажать на любой трек. Слева будет фейдеры, которые
        контролирует насколько громко музыка играет. Сильно высоко ставить не надо, музыка сама по себе громкая
      </p>
    </div>

    <h4 class="my-2">Mixing station</h4>
    <div class="lg:w-6 w-12 flex flex-column mr-4">
      <img src="/cvw-be/assets/ms2.jpg" class="w-full lg:w-21rem" alt="mixing station ui 1" />
    </div>
    В мобильном приложении для записи нужно зайти в меню сверху справа (три горизонтальные точки) и выбрать USB Player.
    На новом экране будет
    кнопка записи. Ее сложно с чем-то спутать.
    <br />
    По воспроизведению музыки не знаю как будет выглядеть интерфейс - попробуйте разобраться сами)
  </div>

  <div class="surface-card shadow-2 border-round-2xl lg:px-4 lg:py-3 p-1 w-12 mb-5">
    <h2 id="disconnect">Порядок выключения на воскресное служение</h2>

    <h4 class="my-2">1. В интерфейсе пульта выключаем все каналы (mute)</h4>
    <p>Если играет музыка, то оставляем ее включенной, но делаем чтобы было комфортно людям.</p>
    <h4 class="my-2">2. Достаем все провода из пульта и отсоединяем их от микрофонов, инструментов, мониторов.</h4>
    <h4 class="my-2">3. АККУРАТНО скручиваем провода (не на локоть). А все провода касающиеся ушного мониторинга - в
      пакет
      "Соседи"</h4>
    <h4 class="my-2">4. Складываем мониторы, микрофоны, инструменты по коробкам. Стойки и пюпитры тоже складываем.
      Маленький пюпитр идет в чехол.</h4>
    <h4 class="my-2">5. Упаковываем ящик с проводами</h4>
    <p>Есть свой удобный для этого порядок. </p>
    <ol>
      <li>Внизу ящика удостоверяемся, чтобы провода были сложены аккуратно, если нужно поправляем.</li>
      <li>Складываем все провода "колодцем" слева ящика.</li>
      <li>В жерло колодца скидываем пакет "Соседи"</li>
      <li>В правой части кладем микрофоны, ушные мониторы</li>
      <li>Сверху лежат удлинители и коробка с общим большим монитором</li>
      <li>И еще кабели питания с пунктов 8 и 9</li>
    </ol>

    <h4 class="my-2">6. Складываем радио микрофон и головной. ВАЖНО - достаем батарейки из обоих. С ручного микрофона
      надо скрутить антенны, чтобы оно нормалаьно помещалось в свой чемоданчик</h4>
    <h4 class="my-2">7. Выключаем колонку</h4>
    <h4 class="my-2">8. Проверяем, что запись на флешку была выключена и потом выключаем пульт </h4>
    <h4 class="my-2">9. Складываем все, что осталось по местам и относим на склад </h4>
  </div>

  <div class="cables-wrapper surface-card shadow-2 border-round-2xl lg:px-4 lg:py-3 p-1 w-12 mb-5">
    <h2 class="my-3">Интерфейс пульта</h2>
    <h3 class="my-2">Доступ через браузер</h3>
    <div class="flex flex-column lg:flex-row">
      <img src="/cvw-be/assets/1-l.jpg" alt="browser-ui" class="w-full lg:w-21rem" />
      <p>
        Интерфейс очень просто и в нем нужно всего лишь несколько элементов.<br />
        Кнопка mute возле каждого канала "включает" или "выключает" его. Когда mute включен, ничего не слышно.<br />
        Фейдер или ползунок возле каждого канала регулирует его громкость. <br />
        Кнопка справа включает и выключает запись, а рядом с ней включает и выключает воспроизведение музыки
      </p>
    </div>

    <h3 class="my-2">Доступ через приложение Mixing Station</h3>
    <div class="flex flex-column lg:flex-row">
      <div class="lg:w-6 w-12 flex flex-column mr-4">
        <img src="/cvw-be/assets/ms1.jpg" class="w-full lg:w-21rem" alt="mixing station ui 1" />
      </div>
      <p>
        Интерфейс немного другой, но мысль та же. При загрузке приложения надо выбрать Soundcraft UI и потом нажать
        Search. Важный момент - пока Mute Enabled не горит красным, не будет переключаться выключение. Mute Enabled это
        предохранитель, чтобы случайно каналы не выключить. Каналы между собой переключается через "вкладки" справа (Ch
        1-8, Ch 9-16 и т.д.)
      </p>
    </div>

  </div>

  <div class="cables-wrapper surface-card shadow-2 border-round-2xl lg:px-4 lg:py-3 p-1 w-12 mb-5">
    <h2 id="cables">Провода</h2>
    <p>Вот основные типы проводов (разъемов), которые мы используем:</p>
    <h3>XLR</h3>
    <div class="flex flex-column lg:flex-row">
      <img src="https://musicpro.by/images/thumbnails/800/600/detailed/16/269_7dy0-v8.jpg" alt="xlr" />
      <p>Провод используется для подключений микрофонов, колонок, мониторов (в том числе ушных). Разъемы на концах не
        одинаковые, поэтому важно различать какой из них "мама", какой "папа". Сигнал идет от "мама" к "папа", т.е. в
        микрофон
        вставляется "мама", а в пульт "папа". А когда подключаем колонки, то наоборот в пульт "мама", а в колонку
        "папа".</p>
    </div>
    <h3>Jack-jack</h3>
    <div class="flex flex-column lg:flex-row">
      <img src="https://img.av-connection.com/2/AVimg_2850.jpg" alt="jack">
      <p>Провод с одинаковыми разъемами на концах. Используется преимущественно для подключения инструментов (может еще
        радио-микрофоны). Чаще всего каким концом в пульт, а каким в инструмент не важно. Вариант этого кабеля -
        mini-jack,
        это обычный микрофонный кабель.
        Jack-кабеля бывают моно и стерео, это можно узнать по количеству колец на штекере, если 2, то стерео, если 1, то
        моно.
        Мы используем моно кабеля.</p>
    </div>
    <h3>RCA</h3>
    <div class="flex flex-column lg:flex-row">
      <img
        src="https://gudzon.by/upload/resize_cache/iblock/9a1/34xj6x2h7crywzj2esnpxnjvvqu8ry83/450_450_140cd750bba9870f18aada2478b24840a/HTB12xYqoDZmx1VjSZFGq6yx2XXaU.webp"
        alt="rca">
      Или тюльпаны, в пультах бывают такие входы, мы используем для проигрывания музыки с телефонов или других
      носителей.
    </div>
    <h3>Кабель питания</h3>
    <div class="flex flex-column lg:flex-row">
      <img
        src="https://cdn21vek.by/img/galleries/523/955/preview_b/pc186vde3m_cablexpert__5a6ef5bc0b2bc.jpeg" alt="rca">
      Обычный бытовой кабель питания, используется для колонок и пульта.
    </div>
    <h3 class="mt-3 mb-2">Еще пару важных кабелей</h3>
    <ul>
      <li><a href="https://5element.by/catalog/181-kabeli-i-perehodniki/tip=kabel-hdmi">HDMI</a> - по нему подключается
        проектор, передает еще и звук
      </li>
      <li><a
        href="https://5element.by/products/741359-kabel-vga-atcom-at9152-15-m-cherno-siniy?utm_source=google_shopping&utm_medium=cpc&utm_campaign=newstrategy&utm_content=site_SDC&utm_term=_x_&target=googleads&gad_source=1&gclid=CjwKCAiAx_GqBhBQEiwAlDNAZt0V8CpbWsx00lKuejFmcOC9vTe6QR1B-lVfZV1FsWCTras_9KJNghoCSqsQAvD_BwE">VGA</a>
        - более старый вариант подключения проектора, не передает звук
      </li>
      <li>USB Type A - разъем как для принтера, используется для подключения пультов и аудио-карт к компьютерам или
        планшетам.
      </li>
    </ul>
  </div>

  <div class="surface-card shadow-2 border-round-2xl lg:px-4 lg:py-3 p-1 w-12">
    <h2 id="console">
      Наш пульт
    </h2>
    <p>Пульт, который мы используем - Soundcraft UI24r. Это цифровой пульт на 24 канала и 12 выходов. Как можно увидеть
      на
      картинке есть 10 комбинированных входов (в них можно подключить и xlr и jack), 10 xlr входов, 2 rca входа, 8 xlr
      выходов, 2 jack выхода на наушники и 2 выхода на колонки. Еще можно подключить 2 флешки на запись и проигрывание
      музыки. Пульт доступен только с цифровых носителей, мы подключаемся по wi-fi сети, которую раздает сам пульт. </p>
    <img class="w-6"
         src="https://adn.harmanpro.com/product_attachments/product_attachments/4564_1484333528/Ui24R-front_original.jpg"
         alt="ui24r" />
  </div>
</div>
</body>
</html>
