<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Compass</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
          rel="stylesheet">
    <meta charset="utf-8"/>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
        }

        html {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            --blue-background-color: #0053a1;
            --gray-background-color: #bcc5e5;
        }

        .text-uppercase {
            text-transform: uppercase;
        }

        .font-normal {
            font-size: 1rem;
        }

        .font-bigger {
            font-size: 1.4rem;
        }

        p {
            margin: 3px 0;
            text-indent: 20px;
            font-size: 1rem;
        }

        .no-indent {
            margin: 8px 0 3px 0;
            text-indent: 0;
        }

        .page-wrapper {
            height: 972px;
        }

        .page {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .top-banner, .top-banner-lower {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .top-banner {
            height: 60px;
            font-size: 1.6rem;
            background-color: var(--blue-background-color);
            color: #fff;
            border-bottom: 2px solid #ffffff;
        }

        .top-banner.no-border {
            border: 2px solid var(--blue-background-color);
        }

        .top-banner-lower {
            min-height: 30px;
            padding: 5px 0;
            font-size: 1.2rem;
            margin-bottom: 1rem;
            border: 2px solid var(--blue-background-color);
        }

        .first-page-banner {
            background-color: var(--blue-background-color);
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            flex-grow: 1;
            position: relative;
        }

        .small-compass-bg::after {
            content: ' ';
            width: 100%;
            height: 100%;
            position: absolute;
            background-position-x: center;
            background-repeat: no-repeat;
            background-image: url({{baseUrl}}/assets/compass.png);
            background-size: 50%;
        }

        .big-compass-bg {
            content: ' ';
            width: 100%;
            height: 100%;
            position: relative;
            background-position-x: center;
            background-repeat: no-repeat;
            background-image: url({{baseUrl}}/assets/compass.png);
            background-size: 90%;
        }

        .first-page-banner-title {
            text-align: center;
            font-size: 5rem;
            line-height: 5rem;
        }

        .first-page-banner-title div {
            margin: 20px 0;
        }

        .first-page-lower-text {
            margin-top: 2rem;
            text-align: center;
        }

        .first-page-scripture {
            width: 100%;
            padding: 30px 20px;
            font-size: 1.8rem;
            letter-spacing: 1.6px;
            line-height: 1.6rem;
            text-align: center;
            border-top: 1px solid #ffffff;
            border-bottom: 1px solid #ffffff;
            font-family: 'Marck Script', cursive;
            font-style: italic;
            margin-top: 1rem;
            background-color: transparent;
            position: absolute;
            top: 70%;
        }

        .intro {
            background-color: var(--blue-background-color);
            color: #ffffff;
            padding: 50px 40px;
            flex-grow: 1;
            line-height: 1.2;
        }

        .simple-banner {
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            background-color: var(--gray-background-color);
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .simple-banner.first-in-page {
            margin-top: 0;
        }

        .page-break {
            page-break-after: always;
        }

        .lesson-title {
            margin-top: 2rem;
        }

        .text-section, .question {
            margin-top: 0.5rem;
        }

        .answers {
            min-height: 60px;
            padding: 5px 10px;
            background-color: #e8e8e8;
            margin: 5px 0;
        }

        .text-section h2 {
            font-size: 1.1rem;
        }

        .question p {
            text-indent: 0;
        }

        .day-title {
            margin-top: 1rem;
        }

        .lesson-checkboxes {
            margin-top: 1.5rem;
        }

        .checkbox:nth-child(2n) {
            background-color: #dee1f3;
        }

        .checkbox:nth-child(2n + 1) {
            background-color: #8ca0d2;
        }

        .checkbox {
            position: relative;
            min-height: 50px;
            padding: 7px 15px 7px 65px;
            display: flex;
            align-items: center;
        }

        .checkmark {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
            height: 30px;
            width: 30px;
            background-color: #ffffff;
        }

        .checkmark:after {
            content: "";
            position: absolute;
            display: block;
        }

        .checkbox .checkmark:after {
            left: 10px;
            top: 2px;
            width: 9px;
            height: 18px;
            border: solid black;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }

    </style>
</head>
<body>

<div class="page-wrapper page-break title-page">
    <div class="page">
        <div class="top-banner">
            Учебное пособие
        </div>
        <div class="first-page-banner small-compass-bg">
            <div class="first-page-banner-title" style="margin-top: 3rem">
                <div>БИБЛЕЙСКИЕ</div>
                <div>ПРИНЦИПЫ</div>
                <div>УПРАВЛЕНИЯ</div>
                <div>ФИНАНСАМИ</div>
            </div>
            <div class="first-page-banner-footer">
                <div class="compass-logo">
                    <img src="{{baseUrl}}/assets/Compass Logo White Transparent.png" width="200px"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-break">
    <div class="top-banner">
        Оглавление
    </div>
    <div>
        <ul>
            <li>Введение</li>
            <li>Божья часть и наша часть</li>
        </ul>
    </div>
</div>

{{#module-check "64ca871dc38edcd3704ff981"}}
    <div class="page-wrapper page-break">
        <div class="page">
            <div class="first-page-banner big-compass-bg">
                <div class="first-page-banner-title">
                    1<br/>
                    Введение
                </div>
                <div class="first-page-scripture">
                    Итак, если вы в неправедном богатстве не были верны,
                    кто поверит вам истинное?<br/>
                    Луки 16:11
                </div>
            </div>
        </div>
    </div>

    <div class="page-break">
        <div class="top-banner no-border">
            Введение: домашнее задание
        </div>
        <div class="top-banner-lower">
            Выполнить к занятию на неделе 1.
        </div>

        <div class="lesson-checkboxes">
            <div class="checkbox">
                <span>
                    Выучите наизусть цитату из Библии:
                    <i>"Итак, если вы в неправедном богатстве не были верны, кто поверит вам истинное?" (Луки 16:11).</i>
                </span>
                <span class="checkmark"></span>
            </div>
            <div class="checkbox">
                До начала занятий прочтите книгу Говарда Дейтона «Деньги любят счет».
                <span class="checkmark"></span>
            </div>
            <div class="checkbox">
                С 1-го числа начните записывать все свои доходы и расходы.
                <span class="checkmark"></span>
            </div>
            <div class="checkbox">
                Во время первой встречи заполните Молитвенный журнал. Внесите личные данные
                членов группы и их молитвенные просьбы.
                <span class="checkmark"></span>
            </div>
        </div>

        <div class="font-bigger text-uppercase lesson-title">
            Домашнее задание
        </div>
        {{#lesson-answers "64ca8727c38edcd3704ff988"}}{{/lesson-answers}}
    </div>
    <div class="page-break">
        <div class="top-banner no-border">
            Введение: заметки
        </div>
        <div class="top-banner-lower">
            Пожалуйста, не читайте этот материал до выполнения<br/>
            домашнего задания по главе «введение».
        </div>
        <p>
            В мире оперируют две экономические системы: Божья экономика и экономика, введенная людьми. Священное Писание
            детально раскрывает нам Божью экономику. Человеческие способы распоряжаться деньгами резко отличаются от
            Божьих финансовых принципов. Это не должно нас удивлять. В Книге Исаии 55:8
            говорится: <i>«Мои мысли – не ваши мысли, ни ваши пути – пути Мои, говорит Господь».</i> Наибольшее отличие
            между этими экономическими системами заключается в том, что в Божьей экономике Живой Господь играет
            центральную роль. Несмотря на кажущуюся простоту звучания, это различие имеет глубокий подтекст. Некоторым
            людям сложно думать о Боге как о Ком-то, Кто принимает участие в распоряжении их финансами,
            потому что Бог избрал быть невидимым и действовать в сверхъестественной сфере.
        </p>
        <div class="simple-banner">
            Библия и деньги
        </div>
        <p>По мере того, как вы будете изучать и практиковать Божьи финансовые принципы, ваша жизнь будет
            преобразовываться.</p>
        <p>Вы очень удивитесь, если обратите внимание на то, сколько в Библии говорится о финансах. Более чем 2 350
            стихов говорят о том, как управлять деньгами и имуществом. Иисус Христос говорил о деньгах больше, чем на
            любую другую тему. Наш Господь постоянно возвращался к теме денег по трем причинам:</p>
        <p class="no-indent">
            <b>
                1. То, как мы обращаемся с деньгами, оказывает непосредственное влияние на наши отношения с
                Господом
            </b>
        </p>
        <p>
            Мы часто разграничиваем нашу духовную жизнь от финансовых вопросов. Однако это – неправильно. Иисус
            сравнивал наше умение распоряжаться деньгами с качеством нашей духовной жизни. В Евангелии от Луки 16:11 Он
            говорит: <i>«Итак, если вы в неправедном богатстве не были верны, кто поверит вам истинное?»</i>.
            Если мы обращаемся с деньгами правильно и в соответствии с библейскими принципами, мы приближаемся
            к Христу. Как бы там ни было, но если мы неверны в этом малом, то наши отношения с Ним будут страдать.
        </p>
        <p> Это отражено в притче о талантах. Господин похвалил слугу, который правильно распорядился деньгами:
            <i>«Хорошо, добрый и верный раб! в малом ты был верен, над многим тебя поставлю; войди в радость господина
                твоего» (Матфея 25:21)</i>. Пока мы относимся к деньгам в соответствии с Божьими принципами, у нас есть
            возможность войти в радость более близких отношений с нашим Господом. К сожалению, многие люди не
            осознают этой истины.
        </p>
        <p class="no-indent">
            <b>
                2. Имущество конкурирует с Господом, стремясь занять лидирующую позицию в нашей жизни.
            </b>
        </p>

        <p>Мы можем этого не замечать, но деньги являются главным конкурентом Христа за господство в нашей
            жизни. Иисус говорит нам, что мы должны выбрать служение одному из этих господ: <i>«Никто не может служить
                двум
                господам: ибо или одного будет ненавидеть, а другого любить; или одному станет усердствовать, а о другом
                нерадеть. Не можете служить Богу и маммоне» (Матфея 6:24)</i>. Невозможно служить маммоне – даже
            малейшим
            образом – и оставаться при этом слугой Господним.
        </p>
        <p>Когда крестоносцы в XII веке терпели поражение в войне, они платили деньги наемникам, чтобы те воевали на их
            стороне. Так как это была религиозная война, наемники перед началом битвы должны были принимать крещение. Во
            время крещения солдаты держали мечи над водой, чтобы показать, что Иисус Христос
            не имеет власти над их оружием. Они оставляли себе свободу использовать оружие любым способом, каким
            пожелают.
        </p>
        <p>Подобным же образом, хотя и не так явно, как эти солдаты, многие люди распоряжаются сегодня своими
            деньгами. Некоторые христиане держат свои кошельки и сумки «над водой», словно говоря: «Бог, Ты можешь
            быть Господом всей моей жизни, но только не в денежных вопросах – уж с этим я прекрасно справлюсь сам».
        <p class="no-indent">
            <b>
                3. Бог хочет, чтобы мы мудро распоряжались финансами.
            </b>
        </p>
        <p>
            Господь так много говорил о деньгах, потому что Он знал, что в жизни мы будем сталкиваться с различными
            финансовыми трудностями. Финансовые проблемы могут стать причиной стрессов и разрушенных
            взаимоотношений, а также негативно сказываться на здоровье людей. Бог любит нас и проявил Свою заботу
            тем, что дал Библию, как Свой путеводитель по жизни, чтобы мы могли принимать мудрые решения.
        </p>
        <div class="simple-banner">
            Распределение обязанностей
        </div>
        <p>
            Много лет назад один мой близкий друг, Джим Сенефф, попросил меня присоединиться к нему в изучении Писания
            для того, чтобы найти повеления Господа относительно распоряжения деньгами. Мы изучили
            каждый из 2 350 стихов, затем распределили их по темам. Сюрпризом для нас стало не только то, насколько
            практично Божье Слово в этой области, но и то, что мы обнаружили категории ответственности в распоряжении
            деньгами. Попросту говоря, у Бога есть ответственность, и у нас тоже есть ответственность. Бог взял
            на Себя определенные обязанности, а другие возложил на нас. Большинство разочарований в сфере распоряжения
            деньгами происходит из-за того, что мы не понимаем, что входит в наши обязанности, а что нет.
        </p>
        <p>Вы откроете для себя, что изучение и претворение в жизнь Божьих финансовых принципов – это скорее
            марафон, а не спринт. Фактически приобретение мудрости в финансовых вопросах – это путешествие,
            которое будет длиться всю жизнь. Когда мы знаем о Божьих обязанностях и верно исполняем наши, мы
            можем на собственном опыте испытать удовлетворение, надежду и уверенность в нашем финансовом
            будущем. Итак, в путь!
        </p>
        <div class="simple-banner">
            В дополнение к программе
        </div>
        <p class="no-indent">
            <b>Рекомендуемая литература</b>
        </p>
        <p>
            В конце многих разделов мы рекомендуем книги и другие дополнительные материалы, которые помогут
            вам глубже изучить финансовые вопросы. Вы можете заказать их в нашем офисе.
        </p>
        <p style="margin-top: 1rem">
            <i>Позвольте мне еще добавить лично от себя. Когда я работал над этим курсом, я молился за вас. Возможно, у
                меня никогда не будет возможности познакомиться с вами лично, но я молился, чтобы, когда вы
                возьмете в руки этот учебник и начнете изучать библейские принципы управления финансами, вы были
                воодушевлены и наполнены новой надеждой, радостью и миром. Прямо сейчас, когда я пишу эти строки, меня
                переполняет необыкновенный восторг от предвкушения того, что Господь приготовил для вас в этом
                путешествии. </i>
        </p>
    </div>
{{/module-check}}

{{#module-check "64ca871dc38edcd3704ff981"}}
    <div class="page-wrapper page-break">
        <div class="page">
            <div class="first-page-banner big-compass-bg">
                <div class="first-page-banner-title">
                    1<br/>
                    БОЖЬЯ ЧАСТЬ
                    И НАША ЧАСТЬ
                </div>
                <div class="first-page-scripture">
                    Твое, Господи, величие, и могущество, и слава, и победа и великолепие, и все, [что] на небе
                    и на земле, [Твое]; Твое, Господи, царство, и Ты превыше всего, как Владычествующий.
                    И богатство и слава от лица Твоего, и Ты владычествуешь над всем, и в руке Твоей
                    сила и могущество, и во власти Твоей возвеличить и укрепить все.<br/>
                    1-я Паралипоменон 29:11-12
                </div>
            </div>
        </div>
    </div>

    <div class="page-break">
        <div class="top-banner no-border">
            Божья часть/ наша часть: домашнее задание
        </div>
        <div class="top-banner-lower">
            Выполнить к занятию на неделе 2.
        </div>
        <div class="lesson-checkboxes">
            <div class="checkbox">
                <span>
                     Выучите наизусть цитату из Библии:
                        <i>«Твое, Господи, величие, и могущество, и слава, и победа и великолепие, и все, [что] на небе и на земле,
                        [Твое]; Твое, Господи, царство, и Ты превыше всего, как Владычествующий. И богатство и слава от
                        лица Твоего, и Ты владычествуешь над всем, и в руке Твоей сила и могущество, и во власти Твоей возвеличить и укрепить все» (1-я Паралипоменон 29:11-12).</i>
                </span>
                <span class="checkmark"></span>
            </div>
            <div class="checkbox">
                Составьте Личный финансовый отчет
                <span class="checkmark"></span>
            </div>
            <div class="checkbox">
                Составьте Акт передачи собственности
                <span class="checkmark"></span>
            </div>
            <div class="checkbox">
                Продолжайте записывать все ваши доходы и расходы
                <span class="checkmark"></span>
            </div>
            <div class="checkbox">
                Ежедневно молитесь друг за друга, используя Молитвенный журнал
                <span class="checkmark"></span>
            </div>
        </div>
        <div class="font-bigger text-uppercase lesson-title">
            День первый
        </div>
        {{#lesson-answers "64cbb4acb168863091afe38f"}}{{/lesson-answers}}
        <div class="font-bigger text-uppercase lesson-title day-title">
            День второй
        </div>
        {{#lesson-answers "64cbfe215cb02c1a918c89ae"}}{{/lesson-answers}}
        <div class="font-bigger text-uppercase lesson-title day-title">
            День третий
        </div>
        {{#lesson-answers "64d0ef4a1be1892374246b4d"}}{{/lesson-answers}}
        <div class="font-bigger text-uppercase lesson-title day-title">
            День четвертый
        </div>
        {{#lesson-answers "64d0ef501be1892374246b53"}}{{/lesson-answers}}
        <div class="font-bigger text-uppercase lesson-title day-title">
            День пятый
        </div>
        {{#lesson-answers "64d0ef551be1892374246b59"}}{{/lesson-answers}}
        <div class="font-bigger text-uppercase lesson-title day-title">
            День шестой
        </div>
        {{#lesson-answers "64d0ef5b1be1892374246b5f"}}{{/lesson-answers}}
        <div class="font-bigger text-uppercase lesson-title day-title">
            Моё решение
        </div>
        {{#lesson-answers "64d0ef6a1be1892374246b65"}}{{/lesson-answers}}
    </div>
    <div class="page-break">
        <div class="top-banner no-border">
            Божья часть/ наша часть: ЗАМЕТКИ
        </div>
        <div class="top-banner-lower">
            ПОЖАЛУЙСТА, НЕ ЧИТАЙТЕ ЭТОТ МАТЕРИАЛ ДО ВЫПОЛНЕНИЯ<br/>
            ДОМАШНЕГО ЗАДАНИЯ «БОЖЬЯ ЧАСТЬ И НАША ЧАСТЬ».
        </div>
        <p>
            В Писании Бог называет Себя более чем 250 именами. Имя, которое лучше всего описывает Божью
            часть в денежной сфере, – Господь. Это самый главный раздел всего нашего курса, потому что наш
            взгляд на Бога определяет то, как мы живем. Даже потеряв детей и все свое имущество, Иов все же был
            способен поклоняться Богу, потому что знал Его роль как Господина всего, что он имел. Почему Моисей
            оставил сокровища Египта и избрал страдание с Божьим народом? Потому что Моисей принял роль
            Бога как Господина (Господа). В позиции Бога как Господа можно выделить три части: владычество, контроль и
            обеспечение.
        </p>
        <div class="simple-banner">
            СТАТЬИ БЮДЖЕТА
        </div>
        <p>
            Все наше имущество принадлежит Господу. <i>«Вот у Господа, Бога твоего, небо и небеса небес, земля и все,
            что на ней…» (Второзаконие 10:14). «Господня – земля и что наполняет ее...» (Псалом 23:1)</i>.
        </p>
        <p>Писание показывает особенные вещи, которыми владеет Бог. Книга Левит 25:23 указывает на Него
            как на Владельца всей земли: <i>«Землю не должно продавать навсегда, ибо Моя земля...»</i>. В Книге пророка
            Аггея 2:8 говорится, что Он владеет всеми драгоценными металлами: <i>«Мое серебро и Мое золото, говорит
                Господь
                Саваоф»</i>. И в Псалме 49 мы видим, что Богу принадлежат животные: <i>«…Ибо Мои все звери в
                лесу и скот на тысяче гор. Знаю всех птиц на горах, и животные на полях предо Мною. Если бы Я взалкал,
                то не сказал бы тебе; ибо Моя вселенная и все, что наполняет ее» (Псалом 49:10-12)</i>. Во 2-м Послании
            к Коринфянам 1:21-22 Библия утверждает, что Господь поставил на нас печать Своей собственности:
            <i>«Утверждающий же нас с вами во Христе и помазавший нас [есть] Бог, Который и запечатлел нас и дал
                залог Духа в сердца наши»</i>.
        </p>
        <p>Господь сотворил все, и Он никогда не передавал права собственности на Его творение людям. Мы с вами
            ничем не обладаем. В Послании к Колоссянам 1:17 говорится, что <i>«все Им стоит»</i>. В этот самый момент
            Господь
            Своей силой удерживает все в таком положении, как оно должно быть. Как мы видим из этого учения,
            для того чтобы позволить Иисусу Христу стать Господином наших денег и имущества, крайне важно признать Бога
            их Владельцем.
        </p>
        <p class="no-indent"><b>Собственность или господство?</b></p>
        <p>Если мы собираемся стать истинными последователями Христа, то должны передать владение нашим
            имуществом Господу. <i>«Так всякий из вас, кто не отрешится от всего, что имеет, не может быть Моим
                учеником»
                (Луки 14:33)</i>. Мы должны отказаться от притязаний на все, что у нас есть. Время от времени Господь
            будет испытывать нас, проверяя нашу готовность отказаться от той части нашего имущества, которая для
            нас важнее всего.
        </p>
        <p>Самый яркий пример этого дается нам в Писании, когда Господь говорит Аврааму: <i>«Возьми сына твоего,
            единственного твоего, которого ты любишь, Исаака... и там принеси его во всесожжение...» (Бытие 22:2)</i>.
            Когда
            Авраам послушался, выказывая готовность отдать свою наибольшую ценность, Бог ответил: <i>«Не поднимай
                руки твоей на отрока... теперь Я знаю, что боишься ты Бога и не пожалел сына твоего, единственного
                твоего,
                для Меня» (Бытие 22:12)</i>.
        </p>
        <p>Когда мы приходим к осознанию Божьего права собственности, каждая статья расходов становится для
            нас духовным решением. Мы больше не спрашиваем: «Господь, что Ты хочешь, чтобы я сделал с моими деньгами?».
            Теперь мы спрашиваем: «Господь, что Ты хочешь, чтобы я сделал с Твоими деньгами?». Когда у нас
            правильное отношение и мы распределяем Его деньги соответственно Его желаниям, решения потратить
            или отложить становятся такими же духовными, как и решение отдать.
        </p>
        <p>Божье право собственности также оказывает влияние и на то, как мы заботимся об имуществе. Например,
            так как Господь является Владельцем нашего места жительства, то мы хотим угодить Ему, сохраняя Его дом
            или квартиру в чистоте и тщательно делая ремонт.</p>
        <p class="no-indent">
            <b>Признание Божьего права собственности</b>
        </p>
        <p>
            Сохранять последовательность и постоянство в признании Божьего права собственности может быть
            трудно. Легко верить в уме, что Бог обладает всем, что у нас есть, но продолжать жить так, как будто это не
            так. Наша культура предполагает противоположный взгляд. Все вокруг нас – средства массовой информации,
            даже закон – говорит, что то, чем ты владеешь – твое. Искреннее осознание Божьего владения требует – ни
            больше ни меньше – нового образа мышления.
        <p>Вот несколько практических шагов, которые помогут нам признать Божью собственность:</p>
        <ul>
            <li>
                В течение следующих 30 дней размышляйте над 1-й Книгой Паралипоменон 29:11-12, как только встаете утром
                и непосредственно перед сном.
            </li>
            <li>Будьте осторожны в использовании личных местоимений; постарайтесь заменять слова «мой», «мое»,
                «наше» словами «это» или «Господне».
            </li>
            <li>Попросите Господа вложить в ваше сердце осознание Его права собственности и готовность отказаться от
                своего. Молитесь об этом в течение следующих 30 дней.
            </li>
            <li>Выработайте в себе привычку признавать и подтверждать право собственности Господа каждый раз,
                когда вы приобретаете что-либо.
            </li>
        </ul>
        <p>Очень важно признать право собственности Господа на владение вашим имуществом. Если вы верите,
            что владеете определенным имуществом, то связанные с ним обстоятельства будут влиять на ваше отношение. Если
            ситуация благоприятна, вы будете счастливы. Если обстоятельства затруднительны, вы будете
            недовольны.
        </p>
        <p>Вскоре после того, как Джим осознал, что Бог является истинным Владельцем всего, он приобрел машину.
            Джим успел поездить на ней только два дня, как кто-то врезался в ее бок. Первой его реакцией было: «Господи,
            я
            не знаю, почему Ты хочешь иметь вмятину на Своей машине, но теперь у Тебя она есть, и большая!».
            Джим учился быть довольным.
        </p>
        <div class="simple-banner">Контроль</div>
        <p>
            Помимо того, что Бог является Творцом и Владельцем, Он полностью контролирует каждое событие, которое
            происходит на земле. <i>«Твое, Господи, величие, и могущество, и слава, и победа и великолепие...» (1-я
            Паралипоменон 29:11)</i>. <i>«Господь творит все, что хочет, на небесах и на земле, на морях и во всех
            безднах»
            (Псалом 134:6)</i>. В Книге Даниила царь Навуходоносор объявляет: <i>«Ныне я, Навуходоносор, славлю,
            превозношу и
            величаю Царя Небесного, Которого все дела истинны и пути праведны, и Который силен смирить
            ходящих гордо» (Даниила 4:34)</i>.
        </p>
        <p>Под Божьим контролем находятся даже самые сложные ситуации. <i>«...Я Господь, и нет иного. Я образую
            свет и творю тьму, делаю мир, и произвожу бедствия; Я, Господь, делаю все это» (Исаии 45:6-7)</i>. Нам важно
            осознавать, что наш Небесный Отец использует любые, даже разрушительные, на первый взгляд, обстоятельства в
            нашей жизни нам во благо. <i>«Притом знаем, что любящим Бога, призванным по [Его] изволению, все содействует
                ко
                благу…» (Римлянам 8:28)</i>. Господь допускает сложные обстоятельства по трем
            причинам: (1) сформировать наш характер, (2) осуществить Свои намерения и (3) в любви воспитать нас
            (дисциплинировать).
        </p>
        <div class="simple-banner">
            БОГ – НАШ ОБЕСПЕЧИТЕЛЬ
        </div>
        <p>
            Господь обещает удовлетворять наши нужды. <i>«Ищите же прежде Царства Божия и правды Его, и это все
            [еда и одежда] приложится вам» (Матфея 6:33)</i>. Тот же Господь, Который кормил манной детей Израиля на
            протяжении сорока лет их блуждания в пустыне, Который накормил пять тысяч людей всего лишь пятью
            хлебами и двумя рыбами, обещал восполнить и наши нужды. Это Тот же Господь, Который говорил Илии:
            <i>«...а воронам Я повелел кормить тебя... И вороны приносили ему хлеб и мясо поутру, и хлеб и мясо
                повечеру...»
                (3-я Царств 17:4,6)</i>.
        </p>
        <p><b>Бог одновременно предсказуем и непредсказуем.</b> Он полностью предсказуем в Своей верности
            обеспечивать наши нужды. Но мы не можем предсказать, как Господь нас обеспечит. Он может использовать самые
            разные и порой удивительные способы: увеличить доходы или сделать подарок. Он может
            дать нам возможность сэкономить ограниченные ресурсы через выгодные покупки. Вне зависимости
            от того, какой способ Господь выберет, чтобы восполнить наши нужды, на Него можно полностью положиться.
            Господь учит нас быть довольными, когда наши основные потребности удовлетворены. <i>«Имея
                пропитание и одежду, будем довольны тем» (1-е Тимофею 6:8)</i>. Чарльз Аллен рассказал историю, которая
            иллюстрирует этот принцип. Когда Вторая мировая война подходила к концу, союзнические армии
            подобрали много сирот и разместили в лагерях, где их хорошо кормили. Несмотря на превосходную
            заботу, дети были испуганы и плохо спали. Наконец, один из врачей нашел решение проблемы. Каждому
            из детей выдавали по куску хлеба после того, как их укладывали в постель. Если они были голодны, им
            предлагали еще поесть; после того как дети насыщались, у них все так же оставалось по куску хлеба, который
            они могли взять с собой в кровать. Этот кусок хлеба производил удивительные результаты. Дети
            ложились спать, зная, что на следующий день у них будет еда. Эта гарантия давала детям возможность
            спать спокойно. Точно так же Господь дал и нам гарантию – наш «кусок хлеба». Держась за Его обетования об
            обеспечении, мы можем успокоиться и быть довольными. <i>«Бог мой да восполнит всякую нужду
                вашу, по богатству Своему...» (Филиппийцам 4:19)</i>.
        </p>
        <p class="no-indent"><b>Нужды или желания</b></p>
        <p>
            Очень важно понимать разницу между нуждой и желанием. Нужда – это одна из <b>основных необходимостей в
            жизни</b>:
            еда, одежда, жилье. Желание – это то, что <b>сверх необходимости</b>. Господь может позволить
            нам осуществить наши желания, но Он не обещал удовлетворять их все.
        </p>
        <div class="simple-banner">
            ПОЗНАНИЕ БОГА
        </div>
        <p>
            Бог, такой, каким Он открывается нам в Писании, очень часто отличается от того образа, в котором большинство
            людей Его себе представляет. У нас есть тенденция ограничивать Бога и заключать Его в определенные рамки
            человеческих возможностей и границ. Мы не понимаем величия Бога, <i>«распростершего небеса и
            основавшего землю» (Исаии 51:13)</i>. Наше понимание о Боге расширяется, прежде всего, через изучение того,
            что Библия говорит нам о Нем. Далее мы приведем несколько примеров.
        </p>
        <p class="no-indent"><b>Он Господь Вселенной</b></p>
        <p>Внимательно прочтите некоторые из Его имен и качеств: Создатель, Всемогущий, Вечный, Всезнающий,
            Всесильный, Внушающий трепет, Господь господствующих и Царь царей. Божьи сила и возможности выходят
            за пределы нашего понимания. Астрономы считают, что во Вселенной расположено более 100 миллиардов
            галактик, каждая из них содержит миллиарды звезд. Расстояние от одного конца галактики до другого часто
            исчисляется миллионами световых лет. Хотя наше Солнце – относительно маленькая звезда, но оно могло
            бы вместить более миллиона таких планет, как Земля; температура его ядра достигает 20 миллионов градусов.
            Исаия писал: <i>«Поднимите глаза ваши на высоту [небес], и посмотрите, кто сотворил их? Кто выводит
                воинство их счетом? Он всех их называет по имени: по множеству могущества и великой силе у Него ничто
                не выбывает» (Исаии 40:26)</i>.
        </p>
        <p class="no-indent"><b>Он Господь каждого отдельного человека</b></p>
        <p>
            Бог интересуется нами, как отдельными личностями, на очень близком уровне. Псалом 138:3-4,16 говорит: <i>«...все
            пути мои известны Тебе. Еще нет слова на языке моем, – Ты, Господи, уже знаешь его совершенно...
            в Твоей книге записаны все дни, для меня назначенные, когда ни одного из них еще не было»</i>. Господь
            настолько
            проявляет участие в нашей жизни, что утешает нас: <i>«…У вас же и волосы на голове все сочтены…» (Матфея
            10:30)</i>. Наш Небесный Отец – единственный, Кто знает нас лучше всех и любит нас больше всех.
        </p>
        <p>Бог расположил на небе звезды, придал форму возвышающимся на земле горам и могучим океанам и
            определил судьбы народов. Иеремия замечает: <i>«...для Тебя ничего нет невозможного…» (Иеремии 32:17)</i>.
        </p>
        <p>Что может быть в этом мире, в нашей жизни или в наших обстоятельствах «слишком сложным» для
            Бога? НИЧЕГО! Бог, у Которого сосчитан каждый волосок на нашей голове, знает все наши обстоятельства, нужды
            и самые глубокие невысказанные желания сердца. В изучаемом нами курсе нет ничего
            важнее, чем «уловить видение» и понимание того, Кем является Бог и какова Его роль в наших финансовых делах.
        </p>
        <div class="simple-banner">
            КРАТКОЕ ИЗЛОЖЕНИЕ БОЖЬЕЙ ОТВЕТСТВЕННОСТИ
        </div>
        <p>
            Господь сотворил людей не для того, чтобы они взяли на себя обязанности, которые может понести только Он.
            Иисус сказал: <i>«Приидите ко Мне, все труждающиеся и обремененные, и Я успокою вас; возьмите иго
            Мое на себя и научитесь от Меня... ибо иго Мое благо, и бремя Мое легко» (Матфея 11:28-30)</i>. Бог принял
            на
            Себя бремя собственности, контроля и обеспечения. Поэтому Его бремя легко, и мы можем отдохнуть и
            возрадоваться Божьему миру.
        </p>
        <p>Для большинства из нас проблема заключается в том, что мы не всегда распознаем Божью часть ответственности.
            Наша культура также внесла свой вклад в эту проблему. Мы привыкли думать, что Бог не играет
            никакой роли в финансовых вопросах, и в некоторой степени остаемся под влиянием этой точки зрения.
            Другая причина этой сложности состоит в том, что Бог избрал быть невидимым. Все, что находится «вне
            поля нашего зрения», мы обычно «выбрасываем из головы». Мы постепенно теряем привычку признавать
            Его право собственности, Его контроль и обеспечение. После изучения Божьей части ответственности некоторые
            думают, что для нас остается очень мало обязанностей. Однако Бог возложил на нас огромную ответственность.
        </p>
        <div class="simple-banner">
            Наша ответственность
        </div>
        <p>
            Библейское слово, которое лучше всего описывает нашу роль, – «распорядитель». Распорядитель – это
            управляющий чьим-либо имуществом. Господь дал нам власть быть распорядителями. <i>«Поставил его владыкою над
            делами рук Твоих; все положил под ноги его…» (Псалом 8:7)</i>.
        </p>
        <p>Наша ответственность подытожена в следующем стихе: <i>«…От домостроителей (в англ. переводе –
            «распорядителей»)
            же требуется, чтобы каждый оказался верным» (1-е Коринфянам 4:2)</i>. Прежде чем мы станем
            верными, мы должны узнать, что нам нужно делать. Точно так же, как покупатель сложного оборудования
            изучает руководство по эксплуатации, написанное производителем, чтобы знать, как его использовать, мы
            должны изучить инструкцию Создателя – Библию, – чтобы понять, как Он хочет, чтобы мы распоряжались
            Его имуществом.
        </p>
        <p>По мере того как мы будем изучать наши обязанности, важно помнить, что Господь любит и глубоко заботится о
            нас. Он дал нам эти принципы, потому что желает для нас наилучшего. Многие могут обнаружить в
            своей жизни те сферы, где они не верны. Не расстраивайтесь. Просто старайтесь верно применять то, чему
            вы научитесь. Существуют два элемента нашей ответственности, которые нам важно понять:
        </p>
        <p class="no-indent">
            <b>1. Быть верными в том, что нам дано.</b>
        </p>
        <p> Мы должны быть верными в том, что имеем, даже если это что-то незначительное. Притча о талантах
            (здесь: талант – это денежная единица) иллюстрирует эту истину. <i>«Ибо [Он поступит], как человек, который,
                отправляясь в чужую страну, призвал рабов своих и поручил им имение свое: и одному дал он пять талантов,
                другому два, иному один...» (Матфея 25:14-15).</i>
        </p>
        <p>
            <img alt="Diagram" src="{{baseUrl}}/assets/diagram_3.png" style="float:right; width: 40%"/>
            Когда хозяин вернулся, то потребовал отчета в верности у каждого, на кого была возложена ответственность за
            хранение его имущества. Он похвалил верного слугу, получившего пять талантов: <i>«Хорошо, добрый
            и верный раб! в малом ты был верен, над многим тебя поставлю; войди в радость господина твоего» (Матфея
            25:21)</i>. Интересно, что слуга, которому были даны два таланта, получил приблизительно такую же награду,
            как и тот, кому были даны пять талантов (см.: Матфея 25:23).
            Господь вознаграждает верность, вне зависимости от размеров того имущества, за которое мы несем
            ответственность. От нас требуется верность, много ли мало нам дано. Кто-то хорошо сказал: «Дело не в том,
            что я сделал бы, если бы у меня был миллион долларов; дело в
            том, что я делаю с десятью долларами, которые у меня уже есть».
        </p>
        <p class="no-indent">
            <b>2. Быть верными во всех сферах.</b>
        </p>
        <p>
            Бог хочет, чтобы мы были верны в распоряжении всеми нашими деньгами. К сожалению, большинство христиан
            обучены
            Божьим методам распоряжения финансами только в 10 процентах их дохода – это сфера даяний. И хотя это
            жизненно важная
            сфера, большинство распоряжается остальными 90 процентами
            мирскими методами.
        </p>
        <p>Изучите диаграмму справа.
        </p>
        <p>В результате, не будучи обучены распоряжаться деньгами по
            библейским принципам, многие христиане имеют неправильное представление об имуществе. Это часто приводит к
            тому, что
            они принимают неверные финансовые решения и страдают от
            неприятных последствий. В Книге Осии 4:6 говорится: <i>«Истреблен будет народ Мой за недостаток
                ведения...»</i>.
        </p>
        <div class="simple-banner">
            ПРЕИМУЩЕСТВА ВЕРНОГО РАСПОРЯЖЕНИЯ ДЕНЬГАМИ
        </div>
        <p class="no-indent">Верные распорядители имеют следующие преимущества:</p>
        <p class="no-indent"><b>1. Более близкое общение с Господом.</b>
        <p>Вспомните, что сказал хозяин слуге, который был верен в финансах: <i>«...войди в радость господина твоего»
            (Матфея 25:21)</i>. Мы можем достичь близких, более интимных отношений с нашим Господом, когда проявляем
            верность в обращении с тем имуществом, которое Он нам доверил.
            Однажды кто-то сказал мне, что Господь часто позволяет кому-либо учить других людей на определенную тему
            только по той причине, что сам учитель отчаянно нуждается в ее понимании! Это высказывание
            можно применить и ко мне, что касается сферы финансов. Я никогда не встречал человека, у которого
            были бы более неверные представления о деньгах или кто распоряжался бы деньгами более противоречащим Библии
            образом, чем это делал я. Когда я начал применять эти принципы, я пережил потрясающие
            перемены в моем общении с Богом. Каждый из этих принципов предназначен для того, чтобы приблизить
            нас к Христу.</p>
        <p class="no-indent"><b>2. Формирование характера.</b></p>
        <p>Бог использует деньги для усовершенствования нашего характера. Как объясняет в своей книге <i>«Деньги –
            проверка на прочность» (Money the Acid Test)</i>, написанной в 1918 году, Дэвид Мак-Конафи: «Деньги, самая
            банальная из преходящих вещей, связаны с необычными и вечными последствиями. Даже если это делается
            абсолютно
            бессознательно, деньги формируют характеры людей в процессе их добывания, сбережения,
            траты и даяний. В зависимости от того, как они используются, они становятся благословением или проклятием.
            Либо
            человек становится хозяином денег, либо деньги начинают господствовать над ним. Наш Господь
            использует деньги как средство для испытания нашей жизни и как инструмент для нашего преобразования
            в Его подобие».
        </p>
        <p>
            На протяжении всей Библии прослеживается взаимосвязь между развитием характера человека и его
            умением распоряжаться деньгами. Это можно рассматривать как показатель истинного характера человека. В
            английском языке есть выражение: «Деньги говорят», – и это на самом деле так. Можно многое рассказать о
            характере человека, изучая его (ее) магазинные чеки или отчет по кредитной карточке, потому
            что мы расходуем наши деньги на то, что имеет наибольшую ценность для нас.
        </p>
        <p class="no-indent"><b>3. Порядок в финансовых делах.</b></p>
        <p>Применяя Божьи принципы в финансовой сфере, мы постепенно выбираемся из долгов, учимся мудрее
            расходовать деньги, начинаем откладывать на будущее и больше жертвуем на Божье дело.
        </p>
        <div class="simple-banner">
            ПРИНЦИПЫ ВЕРНОСТИ
        </div>
        <p>
            1. Если мы расточаем имущество, Господь лишит нас должности распорядителя.
        </p>
        <p>
            <i>
                «...один человек был богат и имел управителя, на которого донесено было ему, что расточает имение
                его; и призвав его, сказал ему: что это я слышу о тебе? дай отчет в управлении твоем, ибо ты не можешь
                более управлять» (Луки 16:1-2).
            </i>
        </p>
        <p>
            Два принципа из этого отрывка применимы и к нам. Во-первых, когда мы расточаем наше имущество,
            это становится известно всем, и наша репутация в результате страдает. <i>«Донесено было ему, что расточает
            имение его»</i>. Во-вторых, Господь может отстранить нас от должности управляющего, если мы расточаем то,
            что Он нам вверил.
        </p>
        <p> Некий бизнесмен заработал состояние всего за три года и сразу увеличил свои расходы. Через два года он
            сообщил работникам своего офиса, что у него осталось мало денег и каждому придется экономить. Вскоре
            после этого он укатил в дорогую отпускную поездку и сделал в офисе капитальный ремонт стоимостью в
            тысячи долларов.
        </p>
        <p> Во время отпуска шефа все сотрудники собрались в новом офисе для обсуждения его необузданных мотовских
            привычек. Господь вскоре отстранил этого человека от его привилегированной должности распорядителя над
            многим имуществом, и сейчас он находится на грани банкротства. Этот принцип применим и
            сегодня. Если вы растрачиваете вверенное вам имущество, вам нельзя доверять большее.
        <p class="no-indent">2. Верность в малом.</p>
        <p><i>«Верный в малом и во многом верен, а неверный в малом неверен и во многом» (Луки 16:10).</i></p>
        <p>Как узнать, будет ли ваш сын хорошо смотреть за своим первым автомобилем? Понаблюдайте, как он обращается со
            своим велосипедом. Как определить, сможет ли продавец выполнить компетентную работу по
            обслуживанию солидного оптового покупателя? Оцените, как он(а) обслуживает случайных клиентов. Если
            наш характер приучен хранить верность в малом, Господь знает, что Он может доверить нам большую
            ответственность. Малое остается малым, но верность в малом – это большое дело!
        </p>
        <p class="no-indent"><b>3. Верность в чужом имуществе.</b></p>
        <p><i>В некоторой мере верность в чужом имуществе определяет то, сколько нам будет дано. «И если в чужом не
            были верны, кто даст вам ваше?» (Луки 16:12)</i>.</p>
        <p>Это принцип, который часто упускается из виду. Один из самых верных людей, которых я знаю, взял напрокат
            машину у друга. Сев за руль автомобиля, он попал в аварию. Объяснив ситуацию владельцу, он отвез
            машину своему механику и дал ему указания: «Полностью восстанови этот автомобиль. Сделай его лучше,
            чем он был до аварии, а счет я оплачу». Какой прекрасный пример! Верны ли вы в чужом имуществе? Не
            обращаетесь ли вы небрежно с офисными принадлежностями вашего работодателя? Тратите ли вы впустую
            электричество, находясь в чужом месте?
        </p>
        <p>Когда кто-то дает вам попользоваться чем-либо, вовремя ли вы возвращаете это имущество владельцу
            и в хорошем ли состоянии? Некоторым людям не было доверено больше, потому что они были неверны в
            обращении с чужим имуществом. Бог обещает нам выполнять Свою часть, а наша обязанность – возрастать
            в верности.
        </p>
    </div>
{{/module-check}}
</body>
