<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <style>
    html {
      font-family: "Arial", sans-serif;
      font-size: 12pt;
    }

    .content {
      margin: 0 5rem;
    }

    .flex {
      display: flex;
    }

    .align-center {
      justify-content: center;
    }

    p {
      margin: 10px 0;
    }

  </style>
</head>
<body>
<div class="content flex align-center">
  {{#lesson-answers "64ca8727c38edcd3704ff988"}}{{/lesson-answers}}
</div>
</body>
