<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Compass</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
          rel="stylesheet">
    <meta charset="utf-8"/>
    <style>
        html {
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            --blue-background-color: #0053a1;
            --gray-background-color: #bcc5e5;
        }

        .flex {
            display: flex;
        }

        .text-uppercase {
            text-transform: uppercase;
        }

        .font-normal {
            font-size: 1rem;
        }

        .font-bigger {
            font-size: 1.4rem;
        }

        p {
            margin: 3px 0;
            text-indent: 20px;
            font-size: 1rem;
        }

        .no-indent {
            text-indent: 0;
        }

        .page-wrapper {
            height: 969px;
        }

        .page {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .top-banner, .top-banner-lower {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .top-banner {
            height: 60px;
            font-size: 1.6rem;
            background-color: var(--blue-background-color);
            color: #fff;
            border-bottom: 2px solid #ffffff;
        }

        .top-banner.no-border {
            border: 2px solid var(--blue-background-color);
        }

        .top-banner-lower {
            height: 30px;
            font-size: 1.2rem;
            border: 2px solid var(--blue-background-color);
        }

        .first-page-banner {
            background-color: var(--blue-background-color);
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            flex-grow: 1;
            position: relative;
        }

        .small-compass-bg::after {
            content: ' ';
            width: 100%;
            height: 100%;
            position: absolute;
            background-position-x: center;
            background-repeat: no-repeat;
            background-image: url({{baseUrl}});
            background-size: 50%;
        }

        .big-compass-bg {
            content: ' ';
            width: 100%;
            height: 100%;
            position: relative;
            background-position-x: center;
            background-repeat: no-repeat;
            background-image: url({{baseUrl}});
            background-size: 90%;
        }

        .first-page-banner-title {
            text-align: center;
            font-size: 5rem;
            line-height: 5rem;
        }

        .first-page-banner-title div {
            margin: 20px 0;
        }

        .first-page-lower-text {
            margin-top: 2rem;
            text-align: center;
        }

        .first-page-scripture {
            width: 100%;
            padding: 30px 0;
            font-size: 1.4rem;
            letter-spacing: 1.6px;
            line-height: 1.6rem;
            text-align: center;
            border-top: 1px solid #ffffff;
            border-bottom: 1px solid #ffffff;
            font-family: 'Marck Script', cursive;
            font-style: italic;
            margin-top: 1rem;
            background-color: transparent;
            position: absolute;
            top: 70%;
        }

        .intro {
            background-color: var(--blue-background-color);
            color: #ffffff;
            padding: 50px 40px;
            flex-grow: 1;
            line-height: 1.2;
        }

        .simple-banner {
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            background-color: var(--gray-background-color);
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .simple-banner.first-in-page {
            margin-top: 0;
        }

        .page-break {
            page-break-after: always;
        }

        .lesson-title {
            margin-top: 2rem;
        }

        .text-section h2 {
            font-size: 1.1rem;
        }

        .question p {
            text-indent: 0;
        }

        .day-title {
            margin-top: 1rem;
        }

    </style>
</head>
<body>

<div class="page-wrapper">
    <div class="page">
        <div class="top-banner">
            Учебное пособие
        </div>
        <div class="first-page-banner small-compass-bg">
            <div class="first-page-banner-title" style="margin-top: 3rem">
                <div>БИБЛЕЙСКИЕ</div>
                <div>ПРИНЦИПЫ</div>
                <div>УПРАВЛЕНИЯ</div>
                <div>ФИНАНСАМИ</div>
            </div>
            <div class="first-page-banner-footer">
                <div class="compass-logo">
                    <img src="{{baseUrl}}/assets/compass_logo.jpg" width="200px"/>
                </div>
                <div class="first-page-lower-text">Минск 2022</div>
            </div>
        </div>
    </div>
</div>

<div class="page-wrapper">
    <div class="page">
        <div class="intro">
            <div class="font-bigger text-uppercase">
                Добро пожаловать!
            </div>
            <p>Мы очень благодарны вам за то, что вы решили принять участие в занятиях по изучению библейских финансовых
                принципов. Принципы, которые вы будете рассматривать на
                этих занятиях, Господь использовал в жизнях сотен тысяч людей, прошедших обучение в малых группах. Мы
                увидели, что наибольшую пользу эти уроки приносят тем людям, которые проявляют достаточно верности,
                чтобы
                пройти их все до конца.
            </p>
            <p>Прежде всего, до того как вы соберетесь в группе, прочтите книгу <i>«Деньги любят счет»</i>. Она легка
                для
                чтения и даст вам общее представление о предмете обучения.</p>
            <p>Затем перед каждым занятием выполняйте следующие требования</p>
            <p class="text-uppercase">1. МЕСТА ПИСАНИЯ ДЛЯ ЗАУЧИВАНИЯ</p>
            <p>Учите задаваемый стих из Библии каждую неделю и рассказывайте его перед началом
                занятия. Это поможет вам запомнить самые важные принципы.</p>
            <p class="text-uppercase">2. ДОМАШНЕЕ ЗАДАНИЕ</p>
            <p>Выполните письменное домашнее задание. Вопросы в домашних заданиях специально
                разработаны таким образом, чтобы работа над ответами занимала всего около 15 минут
                в день. Под каждым вопросом есть место, чтобы туда вписать свой ответ. Если в обучении
                принимает участие супружеская пара, мы рекомендуем каждому из супругов иметь свою
                рабочую тетрадь.</p>
            <p class="text-uppercase">3. ПРАКТИЧЕСКОЕ ЗАДАНИЕ</p>
            <p>Выполните практическое финансовое упражнение (например, разработайте бюджет
                или составьте схему выплаты долгов).</p>
            <p class="text-uppercase">4. МОЛИТВА</p>
            <p>Каждый день участники обучения должны молиться друг за друга, используя Молитвенный журнал. Вы можете это
                делать до или после выполнения домашнего задания. Ответы на молитвы – это один из наиболее ободряющих
                моментов в жизни малой группы.</p>
            <p>Мы рекомендуем планировать время, которое вы будете уделять для молитвы, заучивания библейских стихов, а
                также для выполнения домашних и практических заданий.</p>
            <p>Если кто-то не смог выполнить задание к какому-либо занятию, мы попросили лидеров
                удерживать этого студента от участия в дискуссии на уроке. Такая подотчетность помогает
                нам сохранять верность. А чем вернее мы будем, тем больше пользы сможем извлечь из
                занятий.</p>
            <p>Посещение. Каждый участник должен стараться не пропускать занятий. Если вы будете
                отсутствовать на уроке или опоздаете, предупредите об этом одного из лидеров заранее.
                Встречи планируются так, чтобы начинаться и заканчиваться вовремя.</p>
            <p>Сертификат. Сертификат об окончании курса смогут получить все, кто посетил не менее
                7 из 9 занятий и выполнил все домашние и практические задания.</p>
            <p>Еще раз благодарим вас за участие в обучении. Молимся, чтобы Господь благословил
                вас на всех путях во время изучения Его финансовых принципов.</p>
            <p>Каждую встречу рекомендуем начинать и заканчивать стоя на коленях. Тем самым мы
                видимым образом показываем акт смирения и нужды в Боге</p>
            <p style="text-align: right">
                Говард Дейтон, автор курса,<br/>
                основатель <i>Compass-finances God’s way</i>,<br/>
                cооснователь <i>Crown Financial Ministries</i><br/>
            </p>
        </div>
    </div>
</div>

<div class="page-wrapper">
    <div class="page">
        <div class="simple-banner first-in-page">
            Процесс обучения
        </div>
        <p>Цель этих занятий – заложить прочный библейский фундамент в финансовых вопросах, а также научить
            практическим навыкам управления финансами.</p>
        <p>Курс «Библейские принципы управления финансами» предназначен для всех желающих: молодых и пожилых, одиноких и
            женатых, с высокими и с низкими доходами, со средним и с высшим образованием. Самое главное, чтобы человек
            имел
            желание и верно выполнял требования программы.</p>
        <p>Предложенный материал можно изучать самостоятельно, в паре или в группе. Наибольший эффект достигается при
            групповом обучении.</p>
        <p>Полный курс «Библейские принципы управления финансами» рассчитан на девять недель и включает девять занятий
            (встреч). Занятия проходят еженедельно продолжительностью 2–2,5 часа. Между встречами в
            течение недели учащиеся выполняют домашние и практические задания, изучают библейские стихи и молятся друг
            за
            друга. Во время самой встречи учащиеся цитируют изученные места Писания, делятся своими
            ответами на вопросы и выполненными практическими заданиями, а также записывают молитвенные нужды
            друг друга.</p>
        <p>Почему целых девять недель? Дело в том, что этот курс имеет очень важную цель – сформировать навыки
            и выработать новые привычки, а это потребует времени. Если члены группы плохо знают друг друга, это
            время позволит им построить близкие и дружеские взаимоотношения, а тем, кто уже знаком, – еще больше
            укрепить свою дружбу. Мы не раз слышали, как люди не хотели расходиться после завершения программы
            и желали продолжать встречи.</p>
        <p>Для создания доверительной атмосферы во время дискуссии допускается высказывать мнение, противоположное тому,
            чему учит курс или другие источники, при условии выполнения обеих частей домашнего задания. Если обсуждение
            по
            какому-либо вопросу затягивается, то лидер имеет право прервать очередного
            учащегося и перейти к следующему вопросу.</p>
        <div class="simple-banner">
            Финансовая политика
        </div>
        <ul class="font-normal">
            <li>
                <b>Финансовые услуги. </b>«Компас» не подтверждает, не рекламирует и не продает никакого рода финансовые
                инвестиции. Мы запрещаем кому бы то ни было использовать членство в группе для рекламы
                или влияния на продажу любой финансовой продукции или услуг.
            </li>
            <li style="margin: 10px 0">
                <b>Инвестиции.</b> Обучение в малой группе «Компас» не предоставляет рекомендаций по вкладу любого
                рода инвестиций. Мы запрещаем использовать членство в группе в целях предоставления рекомендаций по
                размещению капитала.
            </li>
            <li>
                <b>Помощь.</b> Это обучение оценено в разумных пределах, потому что мы не хотим, чтобы деньги стали
                помехой для тех, кто хочет учиться. Если вы находите данный курс ценным и хотите помочь сделать
                его более доступным для других, а также содействовать развитию новых учебных программ, вы можете сделать
                добровольное пожертвование для организации Compass-finances God’s way. Реквизиты
                для пожертвований находятся на нашем сайте <a href="http://www.finuchenie.online/">finuchenie.online</a>
            </li>
        </ul>
        <div class="simple-banner">
            Веб сайт
        </div>
        <p>
            Служение «Компас» имеет страницу в сети Интернет как ресурс для обеспечения студентов и лидеров
            дополнительной
            информацией. Она содержит полезные статьи, электронные таблицы, рекламные материалы
            и многое другое. Для получения информации посетите наш сайт и странички в социальных сетях:
            <a href="http://www.finuchenie.online/">finuchenie.online</a>,
            <a href="https://www.instagram.com/compass.finances/">instagram.com/compass.finances/</a>,
            <a href="https://t.me/compass_finaces/">t.me/compass_finances</a>,
        </p>
        <p>Приглашаем вас также посетить интернет-страницу центрального офиса «Компас» – <a
                href="https://compass1.org/">compass1.org</a>
        </p>
        <p>Наше желание – обеспечивать вас полезными и качественными ресурсами. Чтобы мы могли это сделать, нам
            необходимо
            узнать ваше мнение по поводу данного курса. После завершения курса, пожалуйста,
            оставьте свой отзыв о программе. Анкета находится на нашем сайте.
        </p>
    </div>
    <div class="page-break"></div>
</div>

{{#module-check "64ca871dc38edcd3704ff981"}}
    <div class="page-wrapper">
        <div class="page">
            <div class="first-page-banner big-compass-bg">
                <div class="first-page-banner-title">
                    1<br/>
                    Введение
                </div>
                <div class="first-page-scripture">
                    Итак, если вы в неправедном богатстве не были верны,<br/>
                    кто поверит вам истинное?<br/>
                    Луки 16:11
                </div>
            </div>
        </div>
    </div>

    <div class="page-break">
        <div class="top-banner no-border">
            Введение: домашнее задание
        </div>
        <div class="top-banner-lower">
            Выполнить к занятию на неделе 1.
        </div>
        <div class="font-bigger text-uppercase lesson-title">
            Домашнее задание
        </div>
        {{#lesson-answers "64ca8727c38edcd3704ff988"}}{{/lesson-answers}}
    </div>
    <div class="page-break">
        <div class="top-banner no-border">
            Введение: заметки
        </div>
        <div class="top-banner-lower">
            Пожалуйста, не читайте этот материал до выполнения
            домашнего задания по главе «введение».
        </div>
        <p>
            В мире оперируют две экономические системы: Божья экономика и экономика, введенная людьми. Священное Писание
            детально раскрывает нам Божью экономику. Человеческие способы распоряжаться деньгами резко отличаются от
            Божьих финансовых принципов. Это не должно нас удивлять. В Книге Исаии 55:8
            говорится: <i>«Мои мысли – не ваши мысли, ни ваши пути – пути Мои, говорит Господь».</i> Наибольшее отличие
            между этими экономическими системами заключается в том, что в Божьей экономике Живой Господь играет
            центральную роль. Несмотря на кажущуюся простоту звучания, это различие имеет глубокий подтекст. Некоторым
            людям сложно думать о Боге как о Ком-то, Кто принимает участие в распоряжении их финансами,
            потому что Бог избрал быть невидимым и действовать в сверхъестественной сфере.
        </p>
        <div class="simple-banner">
            Библия и деньги
        </div>
        <p>По мере того, как вы будете изучать и практиковать Божьи финансовые принципы, ваша жизнь будет
            преобразовываться.</p>
        <p>Вы очень удивитесь, если обратите внимание на то, сколько в Библии говорится о финансах. Более чем 2 350
            стихов говорят о том, как управлять деньгами и имуществом. Иисус Христос говорил о деньгах больше, чем на
            любую другую тему. Наш Господь постоянно возвращался к теме денег по трем причинам:</p>
        <p class="no-indent">
            <b>
                1. То, как мы обращаемся с деньгами, оказывает непосредственное влияние на наши отношения с
                Господом
            </b>
        </p>
        <p>
            Мы часто разграничиваем нашу духовную жизнь от финансовых вопросов. Однако это – неправильно. Иисус
            сравнивал наше умение распоряжаться деньгами с качеством нашей духовной жизни. В Евангелии от Луки 16:11 Он
            говорит: <i>«Итак, если вы в неправедном богатстве не были верны, кто поверит вам истинное?»</i>.
            Если мы обращаемся с деньгами правильно и в соответствии с библейскими принципами, мы приближаемся
            к Христу. Как бы там ни было, но если мы неверны в этом малом, то наши отношения с Ним будут страдать.
        </p>
        <p> Это отражено в притче о талантах. Господин похвалил слугу, который правильно распорядился деньгами:
            <i>«Хорошо, добрый и верный раб! в малом ты был верен, над многим тебя поставлю; войди в радость господина
                твоего» (Матфея 25:21)</i>. Пока мы относимся к деньгам в соответствии с Божьими принципами, у нас есть
            возможность войти в радость более близких отношений с нашим Господом. К сожалению, многие люди не
            осознают этой истины.
        </p>
        <p class="no-indent">
            <b>
                2. Имущество конкурирует с Господом, стремясь занять лидирующую позицию в нашей жизни.
            </b>
        </p>

        <p>Мы можем этого не замечать, но деньги являются главным конкурентом Христа за господство в нашей
            жизни. Иисус говорит нам, что мы должны выбрать служение одному из этих господ: <i>«Никто не может служить
                двум
                господам: ибо или одного будет ненавидеть, а другого любить; или одному станет усердствовать, а о другом
                нерадеть. Не можете служить Богу и маммоне» (Матфея 6:24)</i>. Невозможно служить маммоне – даже
            малейшим
            образом – и оставаться при этом слугой Господним.
        </p>
        <p>Когда крестоносцы в XII веке терпели поражение в войне, они платили деньги наемникам, чтобы те воевали на их
            стороне. Так как это была религиозная война, наемники перед началом битвы должны были принимать крещение. Во
            время крещения солдаты держали мечи над водой, чтобы показать, что Иисус Христос
            не имеет власти над их оружием. Они оставляли себе свободу использовать оружие любым способом, каким
            пожелают.
        </p>
        <p>Подобным же образом, хотя и не так явно, как эти солдаты, многие люди распоряжаются сегодня своими
            деньгами. Некоторые христиане держат свои кошельки и сумки «над водой», словно говоря: «Бог, Ты можешь
            быть Господом всей моей жизни, но только не в денежных вопросах – уж с этим я прекрасно справлюсь сам».
        <p class="no-indent">
            <b>
                3. Бог хочет, чтобы мы мудро распоряжались финансами.
            </b>
        </p>
        <p>
            Господь так много говорил о деньгах, потому что Он знал, что в жизни мы будем сталкиваться с различными
            финансовыми трудностями. Финансовые проблемы могут стать причиной стрессов и разрушенных
            взаимоотношений, а также негативно сказываться на здоровье людей. Бог любит нас и проявил Свою заботу
            тем, что дал Библию, как Свой путеводитель по жизни, чтобы мы могли принимать мудрые решения.
        </p>
        <div class="simple-banner">
            Распределение обязанностей
        </div>
        <p>
            Много лет назад один мой близкий друг, Джим Сенефф, попросил меня присоединиться к нему в изучении Писания
            для того, чтобы найти повеления Господа относительно распоряжения деньгами. Мы изучили
            каждый из 2 350 стихов, затем распределили их по темам. Сюрпризом для нас стало не только то, насколько
            практично Божье Слово в этой области, но и то, что мы обнаружили категории ответственности в распоряжении
            деньгами. Попросту говоря, у Бога есть ответственность, и у нас тоже есть ответственность. Бог взял
            на Себя определенные обязанности, а другие возложил на нас. Большинство разочарований в сфере распоряжения
            деньгами происходит из-за того, что мы не понимаем, что входит в наши обязанности, а что нет.
        </p>
        <p>Вы откроете для себя, что изучение и претворение в жизнь Божьих финансовых принципов – это скорее
            марафон, а не спринт. Фактически приобретение мудрости в финансовых вопросах – это путешествие,
            которое будет длиться всю жизнь. Когда мы знаем о Божьих обязанностях и верно исполняем наши, мы
            можем на собственном опыте испытать удовлетворение, надежду и уверенность в нашем финансовом
            будущем. Итак, в путь!
        </p>
        <div class="simple-banner">
            В дополнение к программе
        </div>
        <p class="no-indent">
            Рекомендуемая литература
        </p>
        <p>
            В конце многих разделов мы рекомендуем книги и другие дополнительные материалы, которые помогут
            вам глубже изучить финансовые вопросы. Вы можете заказать их в нашем офисе.
        </p>
        <p style="margin-top: 1rem">
            <i>Позвольте мне еще добавить лично от себя. Когда я работал над этим курсом, я молился за вас. Возможно, у
                меня никогда не будет возможности познакомиться с вами лично, но я молился, чтобы, когда вы
                возьмете в руки этот учебник и начнете изучать библейские принципы управления финансами, вы были
                воодушевлены и наполнены новой надеждой, радостью и миром. Прямо сейчас, когда я пишу эти строки, меня
                переполняет необыкновенный восторг от предвкушения того, что Господь приготовил для вас в этом
                путешествии. </i>
        </p>
    </div>
    <div class="page-break">
        <div class="top-banner no-border">
            Практические задания
        </div>
        <div class="top-banner-lower">
            Пожалуйста, не читайте этот материал до выполнения
            домашнего задания по главе «введение».
        </div>
        <div style="color:red; font-size: 5rem">НЕПАНЯТНА</div>
    </div>
{{/module-check}}

{{#module-check "64ca871dc38edcd3704ff981"}}
    <div class="page-wrapper">
        <div class="page">
            <div class="first-page-banner big-compass-bg">
                <div class="first-page-banner-title">
                    1<br/>
                    БОЖЬЯ ЧАСТЬ
                    И НАША ЧАСТЬ
                </div>
                <div class="first-page-scripture">
                    Твое, Господи, величие, и могущество, и слава, и победа и великолепие, и все, [что] на небе
                    и на земле, [Твое]; Твое, Господи, царство, и Ты превыше всего, как Владычествующий.
                    И богатство и слава от лица Твоего, и Ты владычествуешь над всем, и в руке Твоей
                    сила и могущество, и во власти Твоей возвеличить и укрепить все.
                    1-я Паралипоменон 29:11-12
                </div>
            </div>
        </div>
    </div>

    <div class="page-break">
        <div class="top-banner no-border">
            Божья часть/ наша часть: домашнее задание
        </div>
        <div class="top-banner-lower">
            Выполнить к занятию на неделе 2.
        </div>
        <div class="font-bigger text-uppercase lesson-title">
            День первый
        </div>
        {{#lesson-answers "64cbb4acb168863091afe38f"}}{{/lesson-answers}}
        <div class="font-bigger text-uppercase lesson-title day-title">
            День второй
        </div>
        {{#lesson-answers "64cbfe215cb02c1a918c89ae"}}{{/lesson-answers}}
        <div class="font-bigger text-uppercase lesson-title day-title">
            День третий
        </div>
        {{#lesson-answers "64d0ef4a1be1892374246b4d"}}{{/lesson-answers}}
        <div class="font-bigger text-uppercase lesson-title day-title">
            День четвертый
        </div>
        {{#lesson-answers "64d0ef501be1892374246b53"}}{{/lesson-answers}}
        <div class="font-bigger text-uppercase lesson-title day-title">
            День пятый
        </div>
        {{#lesson-answers "64d0ef551be1892374246b59"}}{{/lesson-answers}}
        <div class="font-bigger text-uppercase lesson-title day-title">
            День шестой
        </div>
        {{#lesson-answers "64d0ef5b1be1892374246b5f"}}{{/lesson-answers}}
        <div class="font-bigger text-uppercase lesson-title day-title">
            Моё решение
        </div>
        {{#lesson-answers "64d0ef6a1be1892374246b65"}}{{/lesson-answers}}
    </div>
{{/module-check}}
</body>
